body {
	@apply bg-bg01 text-white;
}

button,
button:hover,
button:active,
button:focus {
	@apply outline-none;
}

/* scale about brands */
.scale-img-child img {
	transform: scale(1.35);
}

@screen md {
	.scale-img-child img {
		transform: scale(1);
	}
}

/* triangle bullet image */
.triangle-bullet li {
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: left 0 bottom 5px;
	padding-left: 22px;
}

/* text gradient */
.text-gradient-01 {
	background: linear-gradient(90deg, #8683c2 0%, #c2bfd5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-02 {
	background: linear-gradient(90deg, #8683c2 0%, #c2bfd5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-03 {
	background: linear-gradient(90deg, #a78462 0%, #a5cdbb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* image */
.image-wrapper img,
.image-wrapper .image-placeholder {
	transition: var(--transition) ease;
	transition-property: filter, opacity, transform;
	will-change: filter, transform;
}

.image-wrapper img {
	opacity: 0;
	filter: blur(var(--blur));
	transform: scale(var(--scale));
}

.image-wrapper.is-image-loaded img {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.image-wrapper.is-image-loaded .image-placeholder {
	opacity: 0;
}

.image-wrapper > div {
	display: block !important;
}

.parent:hover .child {
	z-index: 1;
	opacity: 1;
	transition: opacity 1s cubic-bezier(0.5, 0.31, 0.84, 0.05);
}

.child {
	z-index: -1;
	opacity: 0;
	border-radius: 4px;
	transition: opacity 1s cubic-bezier(0.5, 0.31, 0.84, 0.05);
}
