body {
	@apply bg-bg01 text-white;
}

button,
button:hover,
button:active,
button:focus {
	@apply outline-none;
}

/* scale about brands */
.scale-img-child img {
	transform: scale(1.35);
}

@screen md {
	.scale-img-child img {
		transform: scale(1);
	}
}

/* triangle bullet image */
.triangle-bullet li {
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: left 0 bottom 5px;
	padding-left: 22px;
}

/* text gradient */
.text-gradient-01 {
	background: linear-gradient(90deg, #8683c2 0%, #c2bfd5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-02 {
	background: linear-gradient(90deg, #8683c2 0%, #c2bfd5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-03 {
	background: linear-gradient(90deg, #a78462 0%, #a5cdbb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* image */
.image-wrapper img,
.image-wrapper .image-placeholder {
	@apply transition-all duration-1000;
	transition-timing-function: ease;
}

.image-wrapper img {
	@apply opacity-0 transform scale-110 filter blur-lg;
}

.image-wrapper.is-image-loaded img {
	@apply opacity-100 filter blur-none transform scale-100;
}

.image-wrapper.is-image-loaded .image-placeholder {
	@apply opacity-0;
}

.image-wrapper > div {
	display: block !important;
}

.parent:hover .child {
	z-index: 1;
	@apply opacity-100 transition-all duration-300;
}

.child {
	z-index: -1;
	@apply opacity-0 transition-all duration-300;
}
